WhatsApp Image Marketing Automation.json
{
  "name": "WhatsApp Image Marketing Automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "66fee93c-d61e-4b22-8ace-9b434702c833",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "phoneNumberId": "801773329696017",
        "recipientPhoneNumber": "={{ $json[\"Phone Number\"] }}",
        "template": "hello_world|en_US"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        832,
        0
      ],
      "id": "9834f2d1-29ad-4777-afd1-bf0a10568e83",
      "name": "Send template",
      "webhookId": "3029d66b-797b-4cf3-b19b-268fa6ecfe77",
      "credentials": {
        "whatsAppApi": {
          "id": "sX25DVGTIZ1GnZVH",
          "name": "Japan Translation"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1V-0GRtc3x5FRGxDao_cj4FvPDhxD9tTibEgh8aHjnso",
          "mode": "list",
          "cachedResultName": "Whastsapp Phone numbers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V-0GRtc3x5FRGxDao_cj4FvPDhxD9tTibEgh8aHjnso/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V-0GRtc3x5FRGxDao_cj4FvPDhxD9tTibEgh8aHjnso/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "fbb40877-e16e-4ba6-ad31-cd7e65e19fed",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7OqSANHge1iocfxH",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "instructions": "Whatsapp number should be in text format",
        "codeGeneratedForPrompt": "Whatsapp number should be in text format",
        "jsCode": "const items = $input.all();\nconst updatedItems = items.map((item) => {\n  item.json[\"Phone Number\"] = item.json[\"Phone Number\"].toString();\n  return item;\n});\nreturn updatedItems;\n"
      },
      "type": "n8n-nodes-base.aiTransform",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "1600be37-1acd-4e54-af42-671e134499d9",
      "name": "AI Transform"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "0a79824c-3767-4192-8f36-73f27f2b396b",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Transform": {
      "main": [
        [
          {
            "node": "Send template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AI Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4ba3dd7c-3833-4389-b69f-1b096e648811",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49d6c19c3522b78cc463e77067f39e208a1b3939899a3578e8322125fa4c866d"
  },
  "id": "icy8MeVG2aATQKcG6sGuI",
  "tags": []
}